body{
  background-color: #0477BD;
  color: #fff;
}

/*Sidebar Styles*/
#sidebar-wrap{
  z-index: 1;
  position: absolute;
  width: 0px;
  height: 100%;
  overflow-y: hidden;
  background-color: #1E1E1E;
  transition: width 0.5s ease 0s;
}

/*Home Content*/
#content-wrap{
  width: 100%;
  position: absolute;
  padding: 15px;
  transition: padding 0.5s ease 0s;
}

/*Change sidebar to display*/
#wrap.menuDisplayed #sidebar-wrap{
  width: 225px;
}
#wrap.menuDisplayed #content-wrap{
  padding-left: 225px;
}

.sidebar-nav{
  padding: 0px;
  list-style: none;
  min-width: 150px;
}

.sidebar-nav li{
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a{
  display: block;
  text-decoration: none;
  color: #fff;
}
.sidebar-nav li a:hover{
  background-color: #000;
}

.nav-logo{
  width: 150px;
  height: auto;
  margin: 35px;
}
