body{
  background-color: #0477BD;
  color: #fff;
  font-family: "brandon-grotesque",sans-serif;
}

/*Sidebar Styles*/
#sidebar-wrap{
  z-index: 1;
  position: absolute;
  width: 0px;
  height: 100%;
  overflow-y: hidden;
  background-color: #1E1E1E;
  transition: width 0.5s ease 0s;
}

/*Home Content*/
#content-wrap{
  width: 100%;
  position: absolute;
  padding: 15px;
  left: 0px;
  transition: all 0.5s ease 0s;
}

/*Change sidebar to display*/
#wrap.menuDisplayed #sidebar-wrap{
  width: 225px;
}
#wrap.menuDisplayed #content-wrap{
  left: 225px;
  /*padding-left: 225px;*/
  /*overflow: hidden;*/*/
}

.sidebar-nav{
  padding: 0px;
  list-style: none;
  min-width: 225px;
}

.sidebar-nav li{
  line-height: 40px;
}
.sidebar-nav li a{
  display: block;
  text-decoration: none;
  color: #fff;
}
.sidebar-nav li a:hover{
  background-color: #000;
}

.nav-logo{
  width: 150px;
  height: auto;
  margin: 35px;
}

/*Hamburger Styles*/
.c-hamburger {
  background-color: #0477BD;
  display: block;
  position: relative;
  overflow: hidden;
  width: 65px;
  height: 65px;
  border: none;
  cursor: pointer;
}

.c-hamburger:focus {
  outline: none;
}
.c-hamburger span {
  display: block;
  position: absolute;
  left: 18px;
  right: 18px;
  height: 3px;
  background: #fff;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}
.c-hamburger--htx {
  background-color: none;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s
}
/*Home Page Styles*/
@keyframes fade {
    from {
      opacity: 0;}
    to {
      opacity: 1; }
}
.jumbotron{
  margin-top: 50px;
  background-color: #0477BD;
  margin-left: 100px;
  margin-right: 100px;
}
.jumbo-txt{
  display: inline;
  font-weight: 700;
  text-shadow: 5px 5px 1px #045D89;
}
.hello{
  opacity: 0;
  margin-right: 20px;
  animation-name: fade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
.im{
  opacity: 0;
  animation-name: fade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
.home-txt{
  opacity: 0;
  animation-name: fade;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}
